<div class="main">
  <div class="header">
    <h1>{{kindergarden?.name}}</h1>
  </div>
  <div class="phone-setting">
    <input type="tel" placeholder="Telephone No." [(ngModel)]="kindergarden.phone">
    <button (click)="updateKindergarden()">Save</button>
  </div>
  <div class="phone-setting">
    <input type="text" placeholder="Sim Serial No." [(ngModel)]="kindergarden.simSerialNumber">
    <button (click)="updateKindergarden()">Save</button>
  </div>
  <button md-mini-fab color="primary" (click)="addKid(kindergarden.$key)">
    <md-icon class="md-24">
      <span style="color: white; position: relative;bottom: 5px;">+</span>
    </md-icon>
  </button>

  <div class="kids-list">
    <div class="list-item" *ngFor="let item of kids" >
    <div class="arrived-indicator">
      <div *ngIf="!item.arrived" (click)="setArrived(item)" style="background-color: gray">  </div>
      <div *ngIf="item.arrived" (click)="setNotArrived(item)" style="background-color: #11BF00">  </div>
    </div>
    <img class="kid_img" src="{{item.image}}">
    <h2>{{item.name}}</h2>
    <button class="kinder-btn" (click)="editKid(item.$key,kindergarden.$key)">ערוך</button>
    <button class="kinder-btn" (click)="removeKid(item.$key,kindergarden.$key)">הסר</button>
  </div>
  </div>
  <div class="footer">
    <h3>Time for reminders: {{reminderTime }}</h3>
  </div>


</div>


