<div>
  <h1>Settings</h1>
  <div>
    <md-input-container>
      <input md-input placeholder="Debug Mode" [(ngModel)]="settings.debugMode" >
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input md-input placeholder="Stop SMS" [(ngModel)]="settings.stopSMS" >
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input md-input placeholder="Restart" [(ngModel)]="settings.restart" >
    </md-input-container>
  </div>

  <div>
    <md-input-container>
      <input md-input placeholder="Alert Message" [(ngModel)]="settings.notifyMessage" >
    </md-input-container>
  </div>


  <div class="list-container">
    <div class="header">
      <h4>Holidays</h4>
    </div>
      <div class="list-item" *ngFor="let item of settings.holidays; let i=index">
        <span>{{item}}</span>
        <div (click)="deleteHoliday(item)">X</div>
      </div>
    <div class="footer">
      <input #newHoliday >
      <div (click)="addHoliday(newHoliday.value)">Add</div>
    </div>
  </div>

  <div class="list-container">
    <div class="header">
      <h4>Congrats Files</h4>
    </div>
    <div class="list-item" *ngFor="let item of settings.congratsFiles; let i=index">
      <span>{{item}}</span>
      <div (click)="deleteCongratFile(item)">X</div>
    </div>
    <div class="footer">
      <input #newFile >
      <div (click)="addFile(newFile.value)">Add</div>
    </div>
  </div>





  <button (click)="save()" >Save</button>
</div>
